<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <div form_bearbeiten *ngIf="action == 'neuer Arzt'">
  <mat-form-field>
    <input placeholder="Name" matInput [(ngModel)]="local_data.name">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Nachname" matInput [(ngModel)]="local_data.surname">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Fachbereich" matInput [(ngModel)]="local_data.profession">
  </mat-form-field>
  </div>

  <div form_bearbeiten *ngIf="action == 'bearbeiten'">
    <mat-form-field>
      <input placeholder="Name" matInput [(ngModel)]="local_data.name">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Nachname" matInput [(ngModel)]="local_data.surname">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Fachbereich" matInput [(ngModel)]="local_data.profession">
    </mat-form-field>
  </div>


<div form_delete *ngIf="action == 'löschen'">
    Sicher, dass Sie <b>{{local_data.name}} {{local_data.surname}} ID: {{local_data.id}} </b> löschen wollen?
  </div>
</div>

<div form_bearbeiten *ngIf="action == 'neue Schicht'">
  <mat-form-field>
    <input placeholder="Name" matInput [(ngModel)]="local_data.name">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Nachname" matInput [(ngModel)]="local_data.surname">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Fachbereich" matInput [(ngModel)]="local_data.profession">
  </mat-form-field>

  <mat-form-field>
    <input placeholder="Tag wählen"  matInput [matDatepicker]="Datepicker" matInput [(ngModel)]="local_data.Date">
    <mat-datepicker-toggle matSuffix [for]="Datepicker"></mat-datepicker-toggle>
    <mat-datepicker #Datepicker></mat-datepicker>
  </mat-form-field>
 
</div>


<div mat-dialog-actions>
  <button mat-button (click)="doAction()">bestätigen</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">abbrechen</button>
</div>