<div class="page-body">
    <button mat-button (click)="openDialog(operations.CREATE)" mat-flat-button color="primary">Neue Reinigung</button>
    <table mat-table [dataSource]="cleanersTableDataSource">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Vorname </th>
            <td mat-cell *matCellDef="let element">{{element?.name || "-"}} </td>
        </ng-container>
        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef>Nachname </th>
            <td mat-cell *matCellDef="let element">{{element?.surname || "-"}} </td>
        </ng-container>


        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Administration </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="openDialog(operations.UPDATE, element)" matTooltip="Click to Edit"
                    class="iconbutton" color="primary">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="openDialog(operations.DELETE, element)" matTooltip="Click to Delete"
                    class="iconbutton" color="warn">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
                <button mat-icon-button (click)="openDialog(operations.ADD, element)" matTooltip="Click to add shift"
                    class="iconbutton" color="primary">
                    <mat-icon aria-label="Add">add</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>