<mat-toolbar color="secondary">
    <div fxFlex fxLayout fxLayoutAlign="start" style="margin-left:16px;">
        <ul fxLayout class="navigation-items" fxLayoutGap="10px">
            <li>
                <button mat-flat-button [color]="currentFilter === filters.DOCTOR ? 'primary' : ''"
                    (click)="setFilter(filters.DOCTOR)">
                    Arzt Schichten
                </button>
            </li>
            <li>
                <button mat-flat-button [color]="currentFilter === filters.HELPER ? 'primary' : ''"
                    (click)="setFilter(filters.HELPER)">
                    Pfleger Schichten
                </button>
            </li>
            <li>
                <button mat-flat-button [color]="currentFilter === filters.CLEANER ? 'primary' : ''"
                    (click)="setFilter(filters.CLEANER)">
                    Reinigungs Schichten
                </button>
            </li>
        </ul>
    </div>
</mat-toolbar>

<div class="page-body">

    <table mat-table [dataSource]="shiftsTableDataSource">
        <ng-container matColumnDef="doc">
            <th mat-header-cell *matHeaderCellDef>{{personalLabel}}</th>

            <td mat-cell *matCellDef="let element">
                {{element.doc?.name || element.helper?.name || element.cleaner?.name || "-"}}
                {{element.doc?.surname || element.helper?.surname || element.cleaner?.surname || "-"}} </td>
        </ng-container>
        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef>von </th>
            <td mat-cell *matCellDef="let element"> {{element.from|date:'short'}} </td>
        </ng-container>
        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef>bis </th>
            <td mat-cell *matCellDef="let element"> {{element.to|date:'short'}} </td>
        </ng-container>
        <ng-container matColumnDef="station">
            <th mat-header-cell *matHeaderCellDef>Station </th>
            <td mat-cell *matCellDef="let element"> {{element.station?.station || "- -"}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>