<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{actionTitle}}</strong></h1>
<div mat-dialog-content>
  <div form_bearbeiten *ngIf="action === operations.CREATE">
    <mat-form-field>
      <input placeholder="Name" matInput [(ngModel)]="cleaner.name">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Nachname" matInput [(ngModel)]="cleaner.surname">
    </mat-form-field>
  </div>

  <div form_bearbeiten *ngIf="action === operations.UPDATE">
    <mat-form-field>
      <input placeholder="Name" matInput [(ngModel)]="cleaner.name">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Nachname" matInput [(ngModel)]="cleaner.surname">
    </mat-form-field>
  </div>


  <div form_delete *ngIf="action === operations.DELETE">
    Sicher, dass Sie <b>{{cleaner.name}} {{cleaner.surname}} ID: {{cleaner.id}} </b> löschen wollen?
  </div>
</div>

<div form_bearbeiten *ngIf="action === operations.ADD">
  <mat-form-field>
    <input placeholder="Name" matInput [(ngModel)]="cleaner.name" disabled>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Nachname" matInput [(ngModel)]="cleaner.surname" disabled>
  </mat-form-field>

  <mat-form-field>
    <input placeholder="Tag wählen" matInput [matDatepicker]="Datepicker" matInput [(ngModel)]="dateSelection">
    <mat-datepicker-toggle matSuffix [for]="Datepicker"></mat-datepicker-toggle>
    <mat-datepicker #Datepicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Station</mat-label>
    <mat-select [(ngModel)]="selectedStation">
      <mat-option *ngFor="let station of stations | async" [value]="station.id">
        {{station.station}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>


<div mat-dialog-actions>
  <button mat-button (click)="doAction()">bestätigen</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">abbrechen</button>
</div>