<mat-toolbar color="secondary">
    <div fxFlex fxLayout fxLayoutAlign="start" style="margin-left:16px;">
        <ul fxLayout class="navigation-items" fxLayoutGap="10px">
            <li>
                <button mat-flat-button [color]="displayComponent === adminComponentTypes.DOCTOR ? 'primary' : ''"
                    (click)="displayComponent = adminComponentTypes.DOCTOR">Ärztepersonal
                    verwalten
                </button>
            </li>
            <li>
                <button mat-flat-button [color]="displayComponent === adminComponentTypes.HELPER ? 'primary' : ''"
                    (click)="displayComponent = adminComponentTypes.HELPER">Pflegepersonal
                    verwalten
                </button>
            </li>
            <li>
                <button mat-flat-button [color]="displayComponent === adminComponentTypes.CLEANER ? 'primary' : ''"
                    (click)="displayComponent = adminComponentTypes.CLEANER">Reinigungspersonal
                    verwalten
                </button>
            </li>
            <li>
                <button mat-flat-button [color]="displayComponent === adminComponentTypes.PATIENT ? 'primary' : ''"
                    (click)="displayComponent = adminComponentTypes.PATIENT">
                    Patienten verwalten
                </button>
            </li>
            <li>
                <button mat-flat-button [color]="displayComponent === adminComponentTypes.STATION ? 'primary' : ''"
                    (click)="displayComponent = adminComponentTypes.STATION">
                    Stationen verwalten
                </button>
            </li>
        </ul>
    </div>
</mat-toolbar>
<div class="page-body" [ngSwitch]="displayComponent">
    <app-doctor-admin *ngSwitchCase="adminComponentTypes.DOCTOR"></app-doctor-admin>
    <app-patient-admin *ngSwitchCase="adminComponentTypes.PATIENT"></app-patient-admin>
    <app-helpers-admin *ngSwitchCase="adminComponentTypes.HELPER"></app-helpers-admin>
    <app-cleaners-admin *ngSwitchCase="adminComponentTypes.CLEANER"></app-cleaners-admin>
    <app-station-admin *ngSwitchCase="adminComponentTypes.STATION"></app-station-admin>
</div>